/**
 * Border Mixin
 * - $directions: all | top | bottom | left | right, or a list like (top, bottom).
 * - $width: The border width.
 * - $style: The border style.
 * - $color: The border color.
 */
/**
 * Multi-line Text Ellipsis Mixin
 * Applies ellipsis to text that overflows beyond a specified number of lines.
 *
 * @param {Number} $lines - The number of lines after which to truncate the text.
 */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: break-word;
  tab-size: 4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100 900;
  src: url("../font/NotoSansKR-VariableFont_wght.ttf") format("truetype");
}
body {
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

#wrap {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
}

.header {
  background: #fff;
  border-bottom: 1px solid #dde0e5;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.header__inner {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: #1b1e23;
}
.header__button-box {
  display: flex;
  gap: 16px;
}
.header__button {
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header__button img {
  max-height: 100%;
  line-height: 24px;
  object-fit: contain;
}
.header__title {
  max-width: 65%;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.05em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  white-space: normal;
}

.hero {
  padding-top: 48px;
}
.hero * {
  color: inherit;
}
.hero__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.hero__inner::after {
  content: "";
  display: block;
  width: 100%;
  height: 99px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}
.hero__date {
  color: #3d444f;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.05em;
}
.hero__title-box {
  margin-top: 8px;
}
.hero__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.05em;
  color: #1b1e23;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  white-space: normal;
}
.hero__desc {
  margin-top: 12px;
  color: #5c6677;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05em;
}
.hero__image-box {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  margin: 32px auto 16px;
  padding-top: 83.5820895522%;
  z-index: 2;
  border-radius: 12px;
  isolation: isolate;
}
.hero__image-box img {
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.detailTab {
  background-color: #fff;
  border-bottom: 1px solid #dde0e5;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
.detailTab li {
  list-style: none;
}
.detailTab__item {
  flex: 1;
}
.detailTab__anchor {
  height: 56px;
  color: #abb2be;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.05em;
}
.detailTab__anchor.active {
  color: #1b1e23;
  font-weight: 700;
  border-bottom: 2px solid #000;
}/*# sourceMappingURL=index.css.map */