// 1. Utilities and Abstracts
@use "utils/variables" as *;
@use "utils/functions" as *;
@use "utils/mixins" as *;
@use "utils/breakpoint" as *;

// 2. Base styles
@use "base/css-variables" as *; // CSS Custom Properties definition
@use "base/reset" as *;
@use "base/main" as *;
@use "base/fonts" as *;
@use "base/typography" as *;

// 3. Components
@use "components/detailTab" as *;
@use "components/event" as *;
@use "components/gift-card" as *;
// @use "components/button" as *;
// @use "components/card" as *;

// 4. Layout
@use "layout/container" as *;
@use "layout/header" as *;
// @use "layout/footer" as *;

// 5. Pages
@use "pages/home" as *;