$breakpoints: (
  "sm": 375px,
  "md": 768px,
  "xl": 1024px,
);

@mixin breakpoint($size) {
  @if map-has-key($breakpoints, $size) {
    @media (min-width: map-get($breakpoints, $size)) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$size}` not found.";
  }
}
