// Colors
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

$point-pinkish-red: #ea2829;
$point-pink: #ea2869;

$color-white: #fff;
$color-black: #000;

$font-dark: #1b1e23;
$font-medium-dark: #3d444f;
$font-slate-grey: #5c6677;
$font-cool-grey2: #abb2be;
$font-steel: #788497;
$font-pale-grey: #eef0f2;

$line-silver: #dde0e5;
$line-pale-grey: #eef0f2;
$line-slate-grey: #5c6677;
$bg-pale-grey: #eef0f2;
$bg-pale-grey4: #f5f7fa;
$bg-slate-grey: #5c6677;
$bg-silver: #dde0e5;

$bg-footer-menu: #282c34;

// Fonts
$font-family-base: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

// Spacing
$spacing-unit: 1rem;

// Border
$border-width: 1px;
$border-style: solid;

// Layout
$header-height: 60px;

// Z index
$header-z-index: 110;

// transition
$transition-base: all 0.25s ease-in-out;

//swiper
$mobile-swiper-min-width: 120px;
$mobile-swiper-max-width: 33.333%;

// Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-large-desktop: 1440px;

// Max width
$tablet-content-max-width: 776px;
$desktop-content-max-width: 1024px;
