@use "../base/typography" as *;
@use "../utils/functions" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

// hero section
.hero {
  padding-top: 48px;

  & * {
    color: inherit;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 99px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__date {
    color: $font-medium-dark;
    @include kr-p3-400;
  }

  &__title-box {
    margin-top: 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: $font-dark;
    @include text-ellipsis-multiline(3);
  }

  &__desc {
    margin-top: 12px;
    color: $font-slate-grey;
    @include kr-p2-400;
  }
  &__image-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    margin: 32px auto 16px;
    padding-top: calc(280 / 335 * 100%);
    z-index: 2;
    border-radius: 12px;
    isolation: isolate;

    img {
      @include position-cover-image;
    }
  }
}
// hero section end

// event-attention-area
.event-attention-area {
  margin-top: 64px;
}

.brand {
  margin-bottom: 32px;
  text-align: center;
  @include flex-center(column);

  &__title {
    color: $font-dark;
    @include kr-h3-700;
  }
  &__image-box {
    margin-top: 16px;
    width: 101px;
    height: 101px;
    object-fit: contain;
    border-radius: 12px;
    overflow: hidden;
  }
  &__name {
    margin-top: 4px;
    color: $font-medium-dark;
    @include kr-p2-500;
  }
}
// event-attention-area end

// 추천상품
.recommend {
  padding-bottom: 20px;

  &__title {
    color: $font-dark;
    @include kr-h3-700;
  }
  &__product-list {
    margin-top: 20px;
  }
  & .swiper-slide {
    min-width: $mobile-swiper-min-width;
    max-width: $mobile-swiper-max-width;
  }
}
// 추천상품 end

// 전체 상품
.all-product {
  padding-bottom: 64px;

  .filter-tab {
    padding: 8px 0;
    display: flex;
    gap: 4px;

    &__button {
      padding: 0 12px;
      height: 32px;
      border-radius: 20px;
      color: $bg-slate-grey;
      transition: $transition-base;
      @include border;
      @include kr-p2-400;
      @include flex-center;

      &--active {
        background-color: $font-dark;
        color: $color-white;
        border-color: transparent;
      }
    }
  }

  &__recommend {
    margin-top: 12px;
    padding: 20px 0;
    background: $bg-pale-grey4;

    &__title {
      color: $font-dark;
      @include kr-h4-700;
    }
    &__list {
      margin-top: 20px;
    }
    & .swiper-slide {
      min-width: $mobile-swiper-min-width;
      max-width: $mobile-swiper-max-width;
    }
  }
}

.product-filter {
  margin-bottom: 12px;
  padding: 8px 20px;
  display: flex;
  align-items: center;

  &__total {
    margin-right: auto;
    color: $font-dark;
    display: flex;
    gap: 4px;
    @include kr-p2-500;
  }
  .divider {
    margin: 0 16px;
    width: 1px;
    height: 16px;
    background-color: $line-silver;
  }
  &__toggle {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 4px;
      width: 16px;
      height: 16px;
    }
    &-text {
      margin-right: 8px;
      color: $font-medium-dark;
      @include kr-p2-400;
    }
  }
  .toggle-switch {
    position: relative;
    width: 34px;
    height: 20px;
  }
  .toggle-switch-input {
    display: none;
    visibility: hidden;

    &:checked ~ .toggle-switch-round {
      background: $bg-slate-grey;
      &::before {
        left: 18px;
      }
    }
  }
  .toggle-switch-round {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: $bg-silver;
    transition: $transition-base;

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $color-white;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      transition: inherit;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__button {
    @include flex-center;

    &--sort {
      color: $font-slate-grey;
      gap: 4px;
      @include kr-p3-500;

      & img {
        width: 16px;
        height: 16px;
      }
    }
    &--open {
      width: 32px;
      height: 32px;
      text-indent: -9999px;
      overflow: hidden;
      border-radius: 4px;
      @include border;
    }
  }
}

.all-product__grid {
  padding: 0 20px;
  display: grid;
  gap: 32px 9px;
  grid-template-columns: repeat(2, 1fr);
}
// 전체상품 end

// Dim layer
.dim-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1200;
  background-color: rgba($font-dark, 0.3);
}
.mobile-popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 42px);
  z-index: 1250;
  background-color: $color-white;
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-direction: column;

  .close-button {
    text-indent: -9999px;
    height: 24px;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    &::after {
      margin-top: 10px;
      display: block;
      content: "";
      width: 40px;
      height: 3px;
      background: $bg-pale-grey;
    }
  }
}
.mobile-popup-content-wrap {
  margin-top: 12px;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  & .search-wrap {
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 20px;
      bottom: 0;
      width: calc(100% - 20px);
      border-bottom: 2px solid #1b1e23;
    }
  }
  & form {
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
  }
  & .search-input {
    padding-left: 12px;
    height: 60px;
    border: 0;
    &:focus {
      flex: 1;
      outline: none;
    }
  }

  & .search-icon-button {
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    overflow: hidden;
    @include flex-center;
  }
  & .search-form-submit {
    margin-left: auto;
  }

  & .saerch-category-wrap {
    margin-top: 24px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 20px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .saerch-category-list {
    display: flex;
    gap: 4px;
  }
  & .saerch-category-button {
    padding: 6px 12px;
    border-radius: 20px;
    background: $color-white;
    color: $font-slate-grey;
    @include border;
    @include kr-p2-400;

    &.active {
      color: $color-white;
      background: $font-dark;
    }
  }

  & .event-list {
    margin-top: 20px;
    padding: 0 20px;
    flex: 1;
    overflow-y: auto;

    li {
      padding: 16px 12px;
      @include border(bottom, 1px, solid, $bg-pale-grey);
      &:last-child {
        border: 0;
      }
    }
    & .event-link {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    & .event-gift-image {
      width: 98px;
      height: 98px;
      border-radius: 50%;
      background: $bg-pale-grey4;
      @include flex-center;

      img {
        width: 72px;
        height: 72px;
        object-fit: contain;
      }
    }
    & .event-gift-info {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 4px;
    }
    & .event-gift-name,
    & .event-gift-text {
      @include text-ellipsis-multiline(2);
    }
    & .event-gift-name {
      color: $font-dark;
      word-break: keep-all;
      @include kr-p2-700;
    }
    & .event-gift-text {
      color: $font-slate-grey;
      @include kr-p3-400;
    }
  }
}
// Dim layer end
