@use "../base/typography" as *;
@use "../utils/functions" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

// hero section
.hero {
  padding-top: 48px;

  & * {
    color: inherit;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 99px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__date {
    color: $font-medium-dark;
    @include kr-p3-400;
  }

  &__title-box {
    margin-top: 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: $font-dark;
    @include text-ellipsis-multiline(3);
  }

  &__desc {
    margin-top: 12px;
    color: $font-slate-grey;
    @include kr-p2-400;
  }
  &__image-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    margin: 32px auto 16px;
    padding-top: calc(280 / 335 * 100%);
    z-index: 2;
    border-radius: 12px;
    isolation: isolate;

    img {
      @include position-cover-image;
    }
  }
}
// hero section end

// event-attention-area
.event-attention-area {
  margin-top: 64px;
}

.brand {
  margin-bottom: 32px;
  text-align: center;
  @include flex-center(column);

  &__title {
    color: $font-dark;
    @include kr-h3-700;
  }
  &__image-box {
    margin-top: 16px;
    width: 101px;
    height: 101px;
    object-fit: contain;
    border-radius: 12px;
    overflow: hidden;
  }
  &__name {
    margin-top: 4px;
    color: $font-medium-dark;
    @include kr-p2-500;
  }
}
// event-attention-area end

// 추천상품
.recommend {
  padding-bottom: 20px;

  &__title {
    color: $font-dark;
    @include kr-h3-700;
  }
  &__product-list {
    margin-top: 20px;
  }
  & .swiper-slide {
    min-width: 120px;
    max-width: 33%;
  }
}
// 추천상품 end

// 상품 카드
.productCard {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__image-box {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    background-color: $bg-pale-grey4;
  }
  &__image_anchor {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__image {
    width: 100%;
    mix-blend-mode: multiply;
    @include position-cover-image;
  }
  &__info-box {
    display: flex;
    flex-direction: column;
  }
  &__info-brand {
    color: $font-dark;
    @include kr-p3-700;
  }
  &__info-keyword,
  &__info-name {
    margin-top: 2px;
    @include kr-p3-400;
    @include text-ellipsis-multiline(2);
  }
  &__info-keyword {
    color: $point-pink;
  }
  &__info-name {
    height: 38px;
    color: $font-medium-dark;
  }
  &__info-discount {
    margin-top: 8px;
    display: flex;
    gap: 4px;
    @include kr-cp1;

    .percent {
      font-weight: 500;
      color: $font-dark;
    }
    .default-price {
      font-weight: 400;
      color: $font-cool-grey2;
      text-decoration: line-through;
    }
    .alert-non-member {
      font-weight: 400;
      color: $font-steel;

      .pink {
        font-weight: 500;
        color: $point-pink;
        text-decoration: underline;
      }
    }
  }
  &__info-price {
    display: flex;
    align-items: center;
    gap: 4px;

    .current-price {
      color: $point-pinkish-red;
      @include kr-p1-700;
    }
    .won {
      color: $font-medium-dark;
      @include kr-cp1-400;
    }
  }
  &__info-badge-group {
    margin-top: 8px;
    display: flex;
    gap: 4px;
  }
  &__info-badge {
    height: 20px;
    border-radius: 4px;
    padding: 1px 6px 2px;
    background-color: $color-white;
    color: $font-slate-grey;
    font-size: 11px;
    font-weight: 500;
    line-height: 17px;
    @include border;
    @include flex-center;
  }
  .flag-19 {
    width: 100%;
    height: 100%;
    z-index: 3;
    background: rgba($bg-pale-grey, 0.1);
    backdrop-filter: blur(6.71px);
    @include position-center;
    @include flex-center;

    & img {
      width: 48px;
      height: 48px;
    }
  }
  [class*="flag-"] {
    overflow: hidden;
    text-indent: -9999px;
  }
  .flag-video {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    z-index: 3;
  }
  .add-cart {
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 29px;
    height: 29px;
    background: rgba($font-dark, 0.3);
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 5;
    @include flex-center;
  }
  .alert-refill {
    height: 27px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-black, 0.06);
    backdrop-filter: blur(5px);
    color: rgba($color-black, 0.4);
    z-index: 5;
    @include kr-cp1-400;
    @include flex-center;
  }
}
// 상품카드 end
