@use "../base/typography" as *;
@use "../utils/functions" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../components/productCard" as *;

// hero section
.hero {
  padding-top: 48px;

  & * {
    color: inherit;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 99px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__date {
    color: $font-medium-dark;
    @include kr-p3-400;
  }

  &__title-box {
    margin-top: 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: $font-dark;
    @include text-ellipsis-multiline(3);
  }

  &__desc {
    margin-top: 12px;
    color: $font-slate-grey;
    @include kr-p2-400;
  }
  &__image-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    margin: 32px auto 16px;
    padding-top: calc(280 / 335 * 100%);
    z-index: 2;
    border-radius: 12px;
    isolation: isolate;

    img {
      @include position-cover-image;
    }
  }
}
// hero section end

// event-attention-area
.event-attention-area {
  margin-top: 64px;
}

.brand {
  margin-bottom: 32px;
  text-align: center;
  @include flex-center(column);

  &__title {
    color: $font-dark;
    @include kr-h3-700;
  }
  &__image-box {
    margin-top: 16px;
    width: 101px;
    height: 101px;
    object-fit: contain;
    border-radius: 12px;
    overflow: hidden;
  }
  &__name {
    margin-top: 4px;
    color: $font-medium-dark;
    @include kr-p2-500;
  }
}
// event-attention-area end

// 추천상품
.recommend {
  padding-bottom: 20px;

  &__title {
    color: $font-dark;
    @include kr-h3-700;
  }
  &__product-list {
    margin-top: 20px;
  }
  & .swiper-slide {
    min-width: $mobile-swiper-min-width;
    max-width: $mobile-swiper-max-width;
  }
}
// 추천상품 end

// 전체 상품
.all-product {
  padding-bottom: 64px;

  .filter-tab {
    padding: 8px 0;
    display: flex;
    gap: 4px;

    &__button {
      padding: 0 12px;
      height: 32px;
      border-radius: 20px;
      color: $bg-slate-grey;
      transition: $transition-base;
      @include border;
      @include kr-p2-400;
      @include flex-center;

      &.active {
        background-color: $font-dark;
        color: $color-white;
        border-color: transparent;
      }
    }
  }

  &__recommend {
    margin-top: 12px;
    padding: 20px 0;
    background: $bg-pale-grey4;

    &-title {
      color: $font-dark;
      @include kr-h4-700;
    }
    &-list {
      margin-top: 20px;
    }
    & .swiper-slide {
      min-width: $mobile-swiper-min-width;
      max-width: $mobile-swiper-max-width;
    }
  }
}

.search-sort-wrap {
  margin-bottom: 12px;
  padding: 8px 20px;
  display: flex;
  align-items: center;

  .total-count {
    margin-right: auto;
    color: $font-dark;
    display: flex;
    gap: 4px;
    @include kr-p2-500;
  }
  .divider {
    margin: 0 16px;
    width: 1px;
    height: 16px;
    background-color: $line-silver;
  }
  .search-toggle-box {
    display: flex;
    align-items: center;

    &__icon {
      margin-right: 4px;
      width: 16px;
      height: 16px;
    }
    &__text {
      margin-right: 8px;
      color: $font-medium-dark;
      @include kr-p2-400;
    }
  }
  .toggle-switch {
    position: relative;
    width: 34px;
    height: 20px;
  }
  .toggle-switch-input {
    display: none;
    visibility: hidden;

    &:checked ~ .toggle-switch-round {
      background: $bg-slate-grey;
      &::before {
        left: 18px;
      }
    }
  }
  .toggle-switch-round {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: $bg-silver;
    transition: $transition-base;

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $color-white;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      transition: inherit;
    }
  }
  .search-filter-box {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .drop-down-button {
    color: $font-slate-grey;
    gap: 4px;
    @include flex-center;
    @include kr-p3-500;

    & img {
      width: 16px;
      height: 16px;
    }
  }
  .filter-button {
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    overflow: hidden;
    border-radius: 4px;
    @include flex-center;
    @include border;
  }
}

// 전체 상품 end
