@use "../utils/functions" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../base/typography" as *;

// hero section
.hero {
  padding-top: 48px;

  & * {
    color: inherit;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 99px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__date {
    color: $font-medium-dark;
    @include kr-p3-400;
  }

  &__title-box {
    margin-top: 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: $font-dark;
    @include text-ellipsis-multiline(3);
  }

  &__desc {
    margin-top: 12px;
    color: $font-slate-grey;
    @include kr-p2-400;
  }
  &__image-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    margin: 32px auto 16px;
    padding-top: calc(280 / 335 * 100%);
    z-index: 2;
    border-radius: 12px;
    isolation: isolate;

    img {
      @include position-cover-image;
    }
  }
}
// hero section end

// Event
.event {
  text-align: center;

  &__title-box {
    margin-bottom: 54px;
  }
  &__title {
    color: $font-dark;
    @include kr-h1-700;
    @include text-ellipsis-multiline(2);
  }
  &__title-desc {
    margin-top: 8px;
    color: $font-slate-grey;
    @include kr-p1-400;
    @include text-ellipsis-multiline(2);
  }

  &__tag {
    width: auto;
    margin: 0 auto;
    max-width: fit-content;
    height: 24px;
    padding: 3px 12px;
    text-align: center;
    color: $color-white;
    background-color: $color-black;
    border-radius: 20px;
    @include kr-cp1-500;
  }
  &__group-title-box {
    margin-top: 8px;
  }
  &__group-title {
    color: $font-dark;
    @include kr-h2-700;
    @include text-ellipsis-multiline(2);
  }
  &__group-desc {
    margin-top: 4px;
    color: $font-slate-grey;
    @include kr-p1-400;
    @include text-ellipsis-multiline(2);
  }
}

.event__card-root {
  padding: 0 20px;
  position: relative;
  border-radius: 20px;
  background-color: #faf9f7;
  overflow: hidden;

  &.mt-24 {
    margin-top: 24px;
  }
  & .badge {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    padding: 2px 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: $color-white;
    background: #b1a59a;
    z-index: 1;
    @include kr-cp1-500;
  }
}
.gift__card-list {
  padding: 8px 0;
}
.gift__card-item {
  min-height: 100px;
  display: flex;
  align-items: center;
  gap: 0 17px;

  .soldout {
    width: auto;
    max-width: max-content;
    padding: 0 12px;
    height: 27px;
    border-radius: 4px;
    background: rgba($bg-slate-grey, 0.8);
    color: $color-white;
    white-space: nowrap;
    @include position-center;
    @include kr-cp1-700;
    @include flex-center;
  }

  .gift__image {
    width: 100px;
    height: 100px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .gift__info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;

    &-terms {
      @include kr-p3-500;
      @include text-ellipsis-multiline(2);
    }
    &-desc {
      @include kr-p2-400;
      @include text-ellipsis-multiline(2);
    }
  }
}
// Event end
