@use "../base/typography" as *;
@use "../utils/functions" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

// hero section
.hero {
  padding-top: 48px;

  & * {
    color: inherit;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 99px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__date {
    color: $font-medium-dark;
    @include kr-p3-400;
  }

  &__title-box {
    margin-top: 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: $font-dark;
    @include text-ellipsis-multiline(3);
  }

  &__desc {
    margin-top: 12px;
    color: $font-slate-grey;
    @include kr-p2-400;
  }
  &__image-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    margin: 32px auto 16px;
    padding-top: calc(280 / 335 * 100%);
    z-index: 2;
    border-radius: 12px;
    isolation: isolate;

    img {
      @include position-cover-image;
    }
    @include responsive(tablet) {
      max-width: $tablet-content-max-width;
    }
    @include responsive(desktop) {
      max-width: 804px;
      padding-top: 512px;
      aspect-ratio: 804/512;
    }
  }
}
// hero section end

// event-attention-area
.event-attention-area {
  margin-top: 64px;

  @include responsive(tablet) {
    margin: 64px auto 0;
    max-width: $tablet-content-max-width;
  }
  @include responsive(desktop) {
    padding: 56px;
    max-width: 100%;
    background: $bg-pale-grey4;
  }
}

.brand {
  margin-bottom: 32px;
  text-align: center;
  @include flex-center(column);

  &__title {
    color: $font-dark;
    @include kr-h3-700;
  }
  &__image-box {
    margin-top: 16px;
    width: 101px;
    height: 101px;
    object-fit: contain;
    border-radius: 12px;
    overflow: hidden;
  }
  &__name {
    margin-top: 4px;
    color: $font-medium-dark;
    @include kr-p2-500;
  }
}
// event-attention-area end

// 추천상품
.recommend {
  padding-bottom: 20px;

  @include responsive(tablet) {
    margin: 0 auto;
    max-width: $tablet-content-max-width;
  }
  @include responsive(desktop) {
    padding: 20px 40px;
    border-radius: 8px;
    background: $bg-pale-grey4;

    & .productCard__image-box {
      background-color: $color-white;
    }
  }

  &__title {
    color: $font-dark;
    @include kr-h3-700;
  }
  &__product-list {
    margin-top: 20px;
  }
}
// 추천상품 end

// 전체 상품
.all-product {
  padding-bottom: 64px;

  .filter-tab {
    padding: 8px 0;
    display: flex;
    gap: 4px;

    @include responsive(tablet) {
      margin: 0 auto;
      max-width: $tablet-content-max-width;
    }

    &__button {
      padding: 0 12px;
      height: 32px;
      border-radius: 20px;
      color: $bg-slate-grey;
      transition: $transition-base;
      @include border;
      @include kr-p2-400;
      @include flex-center;

      &--active {
        background-color: $font-dark;
        color: $color-white;
        border-color: transparent;
      }
    }
  }

  &__recommend {
    margin-top: 12px;
    padding: 20px 0;
    background: $bg-pale-grey4;

    @include responsive(desktop) {
      padding: 20px;
      margin: 20px auto 0;
      max-width: $tablet-content-max-width;
      border-radius: 8px;
    }
    &__title {
      color: $font-dark;
      @include kr-h4-700;
      @include responsive(tablet) {
        margin: 0 auto;
        max-width: $tablet-content-max-width;
      }
    }
    &__list {
      margin-top: 20px;
      @include responsive(tablet) {
        margin: 20px auto 0;
        max-width: $tablet-content-max-width;
      }
    }
  }
}

.all-product__grid {
  padding: 0 20px;
  display: grid;
  gap: 32px 9px;
  grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));

  @include responsive(tablet) {
    margin: 0 auto;
    box-sizing: content-box;
    max-width: $tablet-content-max-width;
  }
}
// 전체상품 end

// Swiper Customization
.swiper-container-outer {
  position: relative;
  @include responsive(tablet) {
    margin: 0 auto;
    max-width: $tablet-content-max-width;
  }
}

.recommend__product-list,
.all-product__recommend__list {
  .swiper-slide {
    @media screen and (max-width: ($breakpoint-tablet - 1px)) {
      min-width: $mobile-swiper-min-width;
      max-width: $mobile-swiper-max-width;
    }
  }
}

.recommend__swiper-button--prev,
.recommend__swiper-button--next,
.all-product__swiper-button--prev,
.all-product__swiper-button--next {
  display: none;
  position: absolute;
  top: 65px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $color-white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  z-index: 10;

  @include responsive(tablet) {
    display: block;
  }

  &.swiper-button-disabled {
    display: none;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/icons/ic-m-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
  }
}

.recommend__swiper-button--prev,
.all-product__swiper-button--prev {
  left: -20px;
  &::after {
    transform: rotate(180deg);
  }
}

.recommend__swiper-button--next,
.all-product__swiper-button--next {
  right: -20px;
}
// Swiper Customization end
