@use "../base/typography" as *;
@use "../utils/functions" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

// hero section
.hero {
  padding-top: 48px;

  & * {
    color: inherit;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 99px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__date {
    color: $font-medium-dark;
    @include kr-p3-400;
  }

  &__title-box {
    margin-top: 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: $font-dark;
    @include text-ellipsis-multiline(3);
  }

  &__desc {
    margin-top: 12px;
    color: $font-slate-grey;
    @include kr-p2-400;
  }
  &__image-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    margin: 32px auto 16px;
    padding-top: calc(280 / 335 * 100%);
    z-index: 2;
    border-radius: 12px;
    isolation: isolate;

    img {
      @include position-cover-image;
    }
    @include responsive(tablet) {
      max-width: $tablet-content-max-width;
    }
    @include responsive(desktop) {
      max-width: 804px;
      padding-top: 512px;
      aspect-ratio: 804/512;
    }
  }
}
// hero section end

// event-attention-area
.event-attention-area {
  margin-top: 64px;

  @include responsive(tablet) {
    margin: 64px auto 0;
    max-width: $tablet-content-max-width;
  }
}

.brand {
  margin-bottom: 32px;
  text-align: center;
  @include flex-center(column);

  &__title {
    color: $font-dark;
    @include kr-h3-700;
  }
  &__image-box {
    margin-top: 16px;
    width: 101px;
    height: 101px;
    object-fit: contain;
    border-radius: 12px;
    overflow: hidden;
  }
  &__name {
    margin-top: 4px;
    color: $font-medium-dark;
    @include kr-p2-500;
  }
}
// event-attention-area end

// 추천상품
.recommend {
  padding-bottom: 20px;

  @include responsive(tablet) {
    margin: 0 auto;
    max-width: $tablet-content-max-width;
  }

  &__title {
    color: $font-dark;
    @include kr-h3-700;
  }
  &__product-list {
    margin-top: 20px;
  }
  & .swiper-slide {
    min-width: $mobile-swiper-min-width;
    max-width: $mobile-swiper-max-width;
  }
}
// 추천상품 end

// 전체 상품
.all-product {
  padding-bottom: 64px;

  .filter-tab {
    padding: 8px 0;
    display: flex;
    gap: 4px;

    @include responsive(tablet) {
      margin: 0 auto;
      max-width: $tablet-content-max-width;
    }

    &__button {
      padding: 0 12px;
      height: 32px;
      border-radius: 20px;
      color: $bg-slate-grey;
      transition: $transition-base;
      @include border;
      @include kr-p2-400;
      @include flex-center;

      &--active {
        background-color: $font-dark;
        color: $color-white;
        border-color: transparent;
      }
    }
  }

  &__recommend {
    margin-top: 12px;
    padding: 20px 0;
    background: $bg-pale-grey4;

    &__title {
      color: $font-dark;
      @include kr-h4-700;
      @include responsive(tablet) {
        margin: 0 auto;
        max-width: $tablet-content-max-width;
      }
    }
    &__list {
      margin-top: 20px;
      @include responsive(tablet) {
        margin: 20px auto 0;
        max-width: $tablet-content-max-width;
      }
    }
    & .swiper-slide {
      min-width: $mobile-swiper-min-width;
      max-width: $mobile-swiper-max-width;
    }
  }
}

.all-product__grid {
  padding: 0 20px;
  display: grid;
  gap: 32px 9px;
  grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));

  @include responsive(tablet) {
    margin: 0 auto;
    box-sizing: content-box;
    max-width: $tablet-content-max-width;
  }
}
// 전체상품 end
