@use "../base/typography" as *;
@use "../utils/functions" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../components/productCard" as *;

// hero section
.hero {
  padding-top: 48px;

  & * {
    color: inherit;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 99px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__date {
    color: $font-medium-dark;
    @include kr-p3-400;
  }

  &__title-box {
    margin-top: 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: $font-dark;
    @include text-ellipsis-multiline(3);
  }

  &__desc {
    margin-top: 12px;
    color: $font-slate-grey;
    @include kr-p2-400;
  }
  &__image-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    margin: 32px auto 16px;
    padding-top: calc(280 / 335 * 100%);
    z-index: 2;
    border-radius: 12px;
    isolation: isolate;

    img {
      @include position-cover-image;
    }
  }
}
// hero section end

// event-attention-area
.event-attention-area {
  margin-top: 64px;
}

.brand {
  margin-bottom: 32px;
  text-align: center;
  @include flex-center(column);

  &__title {
    color: $font-dark;
    @include kr-h3-700;
  }
  &__image-box {
    margin-top: 16px;
    width: 101px;
    height: 101px;
    object-fit: contain;
    border-radius: 12px;
    overflow: hidden;
  }
  &__name {
    margin-top: 4px;
    color: $font-medium-dark;
    @include kr-p2-500;
  }
}
// event-attention-area end

// 추천상품
.recommend {
  padding-bottom: 20px;

  &__title {
    color: $font-dark;
    @include kr-h3-700;
  }
  &__product-list {
    margin-top: 20px;
  }
  & .swiper-slide {
    min-width: 120px;
    max-width: 33.333%;
  }
}
// 추천상품 end
