@use "../utils/functions" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../base/typography" as *;

// hero section
.hero {
  padding-top: 48px;

  & * {
    color: inherit;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 99px;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  &__date {
    color: $font-medium-dark;
    @include kr-p3-400;
  }

  &__title-box {
    margin-top: 8px;
  }

  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.05em;
    color: $font-dark;
    @include text-ellipsis-multiline(3);
  }

  &__desc {
    margin-top: 12px;
    color: $font-slate-grey;
    @include kr-p2-400;
  }
  &__image-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    margin: 32px auto 16px;
    padding-top: calc(280 / 335 * 100%);
    z-index: 2;
    border-radius: 12px;
    isolation: isolate;

    img {
      @include position-cover-image;
    }
  }
}

// hero section end
