@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../base/typography" as *;

.header {
  background: $color-white;
  z-index: $header-z-index;
  @include border(bottom);
  @include position-sticky;

  &__inner {
    width: 100%;
    height: $header-height;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: $font-dark;
  }

  &__button-box {
    display: flex;
    gap: 16px;
  }
  &__button {
    width: 24px;
    height: 24px;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 0;
    color: $font-dark;
    @include flex-center;

    & img {
      max-height: 100%;
      max-width: 100%;
      line-height: 24px;
      object-fit: contain;
    }
  }

  &__title {
    max-width: 65%;
    @include kr-h3-700;
    @include position-center;
    @include text-ellipsis-multiline;
  }
}
