@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../base/typography" as *;

.header {
  background: $color-white;
  @include border(bottom);
  @include position-sticky;

  &__inner {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: $font-dark;
  }

  &--button__box {
    display: flex;
    gap: 16px;
  }
  &--button {
    width: 24px;
    height: 24px;
    overflow: hidden;
    text-indent: -9999px;
    @include flex-center;

    & img {
      max-height: 100%;
      line-height: 24px;
      object-fit: contain;
    }
  }

  &--title {
    max-width: 65%;
    @include kr-h3-700;
    @include position-center;
    @include text-ellipsis-multiline;
  }
}
