@use "../base/typography" as *;
@use "../utils/functions" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.alert-toast {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5000;
  padding: 8px 24px;
  border-radius: 18px;
  background: rgba($bg-slate-grey, 0.9);
  backdrop-filter: blur(4px);
  color: $color-white;
  @include kr-p3-500;

  &.hidden {
    display: none;
    opacity: 0;
    transform: translateX(-50%) translateY(1rem);
    pointer-events: none;
    visibility: hidden;
  }

  &.visible {
    display: flex;
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
  }
}
