@use "../base/typography" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.caution_area {
  display: block;
  margin: 32px 20px 0px 20px;
  width: calc(100% - 40px);
  padding-top: 20px;
  @include border(top, 1px, dashed);

  &__title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $font-medium-dark;
    @include kr-p2-500;

    img {
      width: 16px;
      height: 16px;
    }
  }

  .caution__list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-item {
      display: flex;
      align-items: flex-start;
      color: $font-steel;
      list-style: none;
      @include kr-cp1-400;

      &::before {
        margin-right: 2px;
        margin-top: 8px;
        content: "";
        display: block;
        width: 3px;
        height: 3px;
        background: $font-steel;
        border-radius: 50%;
      }
      &.danger {
        color: $point-pinkish-red;
        &::before {
          background: $point-pinkish-red;
        }
      }
    }
  }
}
