@use "../../utils/mixins" as *;
@use "../../utils/variables" as *;

.detailTab {
  @include position-sticky;
  top: $header-height;
  background: $color-white;
  z-index: 10;
  border-bottom: 1px solid $line-silver;

  & .container {
    padding: 0;
  }

  &__item {
    flex: 1;
  }

  &__anchor {
    display: block;
    padding: 1rem;
    text-align: center;
    color: $font-gray;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;

    // 활성화 상태일 때의 스타일
    &.active {
      color: $font-dark;
      font-weight: 700;
      border-bottom-color: $font-dark;
    }
  }
}
