@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.detailTab {
  @include position-sticky;
  top: $header-height;
  background: $color-white;
  z-index: 10;
  border-bottom: 1px solid $line-silver;

  &__item {
    flex: 1;
    list-style: none;
  }

  &__anchor {
    width: 100%;
    display: block;
    padding: 1rem;
    text-align: center;
    color: $font-cool-grey2;
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease-in-out;

    &.active {
      color: $font-dark;
      font-weight: 700;
      border-bottom-color: $font-dark;
    }
  }
}
