@use "../base/typography" as *;
@use "../utils/functions" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

// Dim layer
.dim-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1200;
  background-color: rgba($font-dark, 0.3);

  &.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  &.visible {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}

.mobile-popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100% - 42px);
  z-index: 1250;
  background-color: $color-white;
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-direction: column;

  .close-button {
    text-indent: -9999px;
    height: 24px;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    &::after {
      margin-top: 10px;
      display: block;
      content: "";
      width: 40px;
      height: 3px;
      background: $bg-pale-grey;
    }
  }
}

.mobile-popup-content-wrap {
  margin-top: 12px;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  & .search-wrap {
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 20px;
      bottom: 0;
      width: calc(100% - 20px);
      border-bottom: 2px solid #1b1e23;
    }
  }
  & form {
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
  }
  & .search-input {
    padding-left: 12px;
    height: 60px;
    border: 0;
    &:focus {
      flex: 1;
      outline: none;
    }
  }

  & .search-icon-button {
    width: 24px;
    height: 24px;
    text-indent: -9999px;
    overflow: hidden;
    @include flex-center;
  }
  & .search-form-submit {
    margin-left: auto;
  }

  & .saerch-category-wrap {
    margin-top: 24px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 20px;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .saerch-category-list {
    display: flex;
    gap: 4px;
  }
  & .saerch-category-button {
    padding: 6px 12px;
    border-radius: 20px;
    background: $color-white;
    color: $font-slate-grey;
    @include border;
    @include kr-p2-400;

    &.active {
      color: $color-white;
      background: $font-dark;
    }
  }

  & .event-list {
    margin-top: 20px;
    padding: 0 20px;
    flex: 1;
    overflow-y: auto;

    li {
      padding: 16px 12px;
      @include border(bottom, 1px, solid, $bg-pale-grey);
      &:last-child {
        border: 0;
      }
    }
    & .event-link {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    & .event-gift-image {
      width: 98px;
      height: 98px;
      border-radius: 50%;
      background: $bg-pale-grey4;
      @include flex-center;

      img {
        width: 72px;
        height: 72px;
        object-fit: contain;
      }
    }
    & .event-gift-info {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 4px;
    }
    & .event-gift-name,
    & .event-gift-text {
      @include text-ellipsis-multiline(2);
    }
    & .event-gift-name {
      color: $font-dark;
      word-break: keep-all;
      @include kr-p2-700;
    }
    & .event-gift-text {
      color: $font-slate-grey;
      @include kr-p3-400;
    }
  }
}
