@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../base/typography" as *;

.event__card-root {
  padding: 0 20px;
  position: relative;
  border-radius: 8px;
  background-color: #faf9f7;
  overflow: hidden;

  &.mt-24 {
    margin-top: 24px;
  }

  & .badge {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    padding: 2px 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: $color-white;
    background: #b1a59a;
    z-index: 1;
    @include kr-cp1-500;
  }
}

.gift__card-list {
  padding: 8px 0;
}
.gift__card-item {
  min-height: 100px;
  display: flex;
  align-items: center;
  gap: 0 17px;
  flex-wrap: wrap;

  &::after {
    content: "";
    display: block;
    width: 100%;
    margin: 8px 0;
    @include border(bottom, 1px, solid, $line-pale-grey);
  }
  &:last-child::after {
    display: none;
  }
}
