@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../base/typography" as *;

.event__card-root {
  padding: 0 20px;
  position: relative;
  border-radius: 20px;
  background-color: #faf9f7;
  overflow: hidden;

  &.mt-24 {
    margin-top: 24px;
  }

  & .badge {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    padding: 2px 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: $color-white;
    background: #b1a59a;
    z-index: 1;
    @include kr-cp1-500;
  }
}

.gift__card-list {
  padding: 8px 0;
}
.gift__card-item {
  min-height: 100px;
  display: flex;
  align-items: center;
  gap: 0 17px;

  .soldout {
    width: auto;
    max-width: max-content;
    padding: 0 12px;
    height: 27px;
    border-radius: 4px;
    background: rgba($bg-slate-grey, 0.8);
    color: $color-white;
    white-space: nowrap;
    @include position-center;
    @include kr-cp1-700;
    @include flex-center;
  }

  .gift__image {
    width: 100px;
    height: 100px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .gift__info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;

    &-terms {
      @include kr-p3-500;
      @include text-ellipsis-multiline(2);
    }
    &-desc {
      @include kr-p2-400;
      @include text-ellipsis-multiline(2);
    }
  }
}
