@use "../base/typography" as *;
@use "../utils/functions" as *;
@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.product-filter {
  margin-bottom: 12px;
  padding: 8px 20px;
  display: flex;
  align-items: center;

  &__total {
    margin-right: auto;
    color: $font-dark;
    display: flex;
    gap: 4px;
    @include kr-p2-500;
  }
  .divider {
    margin: 0 16px;
    width: 1px;
    height: 16px;
    background-color: $line-silver;
  }
  &__toggle {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 4px;
      width: 16px;
      height: 16px;
    }
    &-text {
      margin-right: 8px;
      color: $font-medium-dark;
      @include kr-p2-400;
    }
  }
  .toggle-switch {
    position: relative;
    width: 34px;
    height: 20px;
  }
  .toggle-switch-input {
    display: none;
    visibility: hidden;

    &:checked ~ .toggle-switch-round {
      background: $bg-slate-grey;
      &::before {
        left: 18px;
      }
    }
  }
  .toggle-switch-round {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: $bg-silver;
    transition: $transition-base;

    &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $color-white;
      position: absolute;
      left: 4px;
      top: 50%;
      transform: translateY(-50%);
      transition: inherit;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__button {
    @include flex-center;

    &--sort {
      color: $font-slate-grey;
      gap: 4px;
      @include kr-p3-500;

      & img {
        width: 16px;
        height: 16px;
      }
    }
    &--open {
      width: 32px;
      height: 32px;
      text-indent: -9999px;
      overflow: hidden;
      border-radius: 4px;
      @include border;
    }
  }
}
