@use "../utils/mixins" as *;
@use "../utils/variables" as *;

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

// 접근성을 위한 visually-hidden 클래스
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.flex {
  display: flex;
}
.flex-center {
  @include flex-center;
}
li {
  list-style: none;
}
// panel & divider
.panel {
  &__01 {
    padding-top: 48px;
    padding-bottom: 32px;
  }
  &__02 {
    padding-top: 20px;
  }
  &__03 {
    padding-top: 12px;
  }
}
.divider {
  height: 8px;
  background-color: $bg-pale-grey;
}
