@use "../utils/mixins" as *;
:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

.flex {
  display: flex;
}
.flex-center {
  @include flex-center;
}
