@use "../utils/mixins" as *;
@use "../utils/variables" as *;

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

.flex {
  display: flex;
}
.flex-center {
  @include flex-center;
}

// panel & divider
.panel {
  &__01 {
    padding-top: 48px;
    padding-bottom: 32px;
  }
  &__02 {
    padding-top: 20px;
  }
  &__03 {
    padding-top: 12px;
  }
}
.divider {
  height: 8px;
  background-color: $bg-pale-grey;
}
