@use "../base/typography" as *;
@use "../utils/mixins" as *;
@use "../utils/variables" as *;

:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

// 접근성을 위한 visually-hidden 클래스
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// Skip Link (키보드 접근성)
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 9999;
  padding: 8px 16px;
  background-color: $font-dark;
  color: $color-white;
  text-decoration: none;
  @include kr-p2-500;

  &:focus {
    top: 0;
    outline: 2px solid $font-dark;
    outline-offset: 2px;
  }
}

.flex {
  display: flex;
}
.flex-center {
  @include flex-center;
}
li {
  list-style: none;
}
// panel & divider
.panel {
  &__01 {
    padding-top: 48px;
    padding-bottom: 32px;
  }
  &__02 {
    padding-top: 20px;
  }
  &__03 {
    padding-top: 12px;
    @include responsive(desktop) {
      padding-top: 56px;
    }
  }
}
.divider {
  height: 8px;
  background-color: $bg-pale-grey;
  border: 0;
  @include responsive(desktop) {
    display: none;
    visibility: hidden;
  }
}
